html,
body,
#app {
    height: 100%;
}

.vc-navigation-controls {
    .vc-compass-outerRing {
        color: #fff !important;
    }
}

.vc-zoom-control {
    background-color: #fff !important;
    button {
        color: #3d4043 !important;
    }
}

.vc-measurements-container {
    .vc-btn {
        color: #3d4043 !important;
        background-color: #ffffff !important;
    }
}
