html,
body,
#app {
    height: 100%;
    overflow: hidden;
}

.vc-measurements-container {
    .vc-btn {
        background-color: #3f4854 !important;
    }
}

.analysis-panel {
    position: absolute;
    top: 200px;
    right: 200px;
    z-index: 100;
}